%div
  %h1 Register
.error{"ng-show" => "register_error.message"}
  %p {{register_error.errors}}

.body
  %div{"ng-class" => "{error: register_error.errors.email}"}
    Email:
    %input{"required" => "", type: 'text', "ng-model" => "register_user.email"}/
    %div{"ng-show" => "register_error.errors.email"}
      %div{"ng-repeat" => "field_error in register_error.errors.email"}

  %div{"ng-class" => "{error: register_error.errors.name}"}
    Name:
    %input{"required" => "", type: 'text', "ng-model" => "register_user.name"}/
    %div{"ng-show" => "register_error.errors.name"}
      %div{"ng-repeat" => "field_error in register_error.errors.name"}

  %div{"ng-class" => "{error: register_error.errors.phone}"}
    Phone:
    %input{"required" => "", type: 'text', "ng-model" => "register_user.phone"}/
    %div{"ng-show" => "register_error.errors.phone"}
      %div{"ng-repeat" => "field_error in register_error.errors.phone"}

  .date{"ng-class" => "{error: register_error.errors.date_of_birth}"}
    Date of birth:
    {{register_user.date_of_birth}}
    %button.btn{ "ng-click" => "showDatepicker()"}
      %i.icon-calendar
    %div{"required" => "", type: 'text', "ui-date" => "", "ng-model" => "register_user.date_of_birth", "ui-date-format" => "DD, d MM yy", id: 'datepicker', 'ui-date' => "dateOptions", "ng-show" => "revealDatepicker"}


    %div{"ng-show" => "register_error.errors.date_of_birth"}
      %div{"ng-repeat" => "field_error in register_error.errors.date_of_birth"}

  %div{"ng-class" => "{error: register_error.errors.password}"}
    Password:
    %input{"required" => "", "ng-model" => "register_user.password", type: "password"}/
    %div{"ng-show" => "register_error.errors.password"}
      %div{"ng-repeat" => "field_error in register_error.errors.password"}
  %div{"ng-class" => "{error: register_error.errors.password_confirmation}"}
    Confirm password:
    %input{"required" => "", "ng-model" => "register_user.password_confirmation", type: "password"}/
    %div{"ng-show" => "register_error.errors.password_confirmation"}
      %div{"ng-repeat" => "field_error in register_error.errors.password_confirmation"}

  %back-button{back: 'back'}
  %button.btn.btn-primary{"ng-click" => "register()"} Register