%div
  %h1 Login
.error{"ng-show" => "login_error.message"}
  %i {{login_error.message}}
.error{"ng-show" => "error"}
  %i {{ error }}
.body
  %div{"ng-class" => "{error: login_error.errors.email}"}
    Email:
    %input.info_input{type: 'text', "ng-model" => "login_user.email"}/
    %div{"ng-show" => "login_error.errors.email"}
      %div{"ng-repeat" => "field_error in login_error.errors.email"}
  %div{"ng-class" => "{error: login_error.errors.password}"}
    Password:
    %input.info_input{"ng-model" => "login_user.password", type: "password"}/
    %div{"ng-show" => "login_error.errors.password"}
      %div{"ng-repeat" => "field_error in login_error.errors.password"}
  %button.btn.btn-primary{"ng-click" => "login()"} Login
